body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.brandname {
  float: left;
  height: 50px;
  padding: 8px 0px 0px 0px;
  font-size: 24px;
  color: white;
}

.logo {
  padding: 0px 10px 0px 0px;
}

.footer {
  background-color: #ddd;
  color: black;
  border-top: 4px solid black;
  box-shadow: 0px 500px 0px 500px #ddd;
}

.rssfeed {
  margin-left: 3px;
  background: url("../img/feed-icon-14x14.png") no-repeat 0 50%;
} 

.align-stats {
  padding-top: 15px;
}
